body{
    margin:0px;
    font-family: 'Roboto', sans-serif;
}
// qutunun her iki terefden merkeze getirilmesi space between formasinda
.full-center{
    display: flex;
    justify-content: space-between;
    align-items: center;}

.flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.cursor-pointer{
    cursor: pointer;
}
.absolute{
    position: absolute;
}
.hover {
    &:hover{
        background:#ca0c0c ;
    }
}
.transition{
    transition: all 0.6s ease;
}
.row-column-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.width-100{
    width:100%;
}
.height-100{
    height:100%;
}
.background-img{
    background-repeat: no-repeat;
    background-size: cover;
}
.row{
    display: flex;
    justify-content: center;
    }
    
    .col-1{
        width: $colwidth/1;
    }
    .col-2{
        width: $colwidth/2;
    }
    .col-3{
        width: $colwidth/3;
    }
    .col-4{
        width: $colwidth/4;
    }
    .col-5{
        width: $colwidth/5;
    }
    .col-6{
        width: $colwidth/6;
    }
    .col-7{
        width: $colwidth/7;
    }
    .col-8{
        width: $colwidth/8;
    }
    .col-9{
        width: $colwidth/9;
    }
    .col-10{
        width: $colwidth/10;
    }.col-11{
        width: $colwidth/11;
    }
    .col-12{
        width: $colwidth/12;
    }