body{
    margin:0px;
    font-family: 'Roboto', sans-serif;
}
// qutunun her iki terefden merkeze getirilmesi space between formasinda
.full-center{
    display: flex;
    justify-content: space-between;
    align-items: center;}

.flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.cursor-pointer{
    cursor: pointer;
}