body{
    margin:0px;
    font-family: 'Roboto', sans-serif;
}
// qutunun her iki terefden merkeze getirilmesi space between formasinda
.full-center{
    display: flex;
    justify-content: space-between;
    align-items: center;}

.flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.cursor-pointer{
    cursor: pointer;
}
.absolute{
    position: absolute;
}
.hover {
    &:hover{
        background:#ca0c0c ;
    }
}
.transition{
    transition: all 0.6s ease;
}
.full-center2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.width{
    width:100%;
}
.height{
    height:100%;
}