@import '../variables';
@import '../general';

#header{
    background: url(../img/2.jpg); 
    @extend .background-img;
    height:$height/1.5;
}
    .over-lay-header{
         position:absolute;
         top:0;
         left:0;
         z-index:1;
         height:$height/1.5;
         background-size:cover ;
         background-color: rgba(0,0,0,0.4);
        }
         .largeblock-header{
             position: relative;
             z-index:2;}
            .rightblock-header{ 
                @extend .full-center;
            
            }
                .menu-header{
                    margin:0px 17px;}
                    ul{
                         margin:0px;
                         list-style: none;
                         margin-top:-$margin/6;}
                        .li{
                            font-size:$font-size/6;
                            display:inline-block;
                            color:$color-white;
                            margin:0px $margin/6;
                            padding:$padding/4;
                            a{
                            color:$color-white;
                            text-decoration:none;
                            border-radius: 3px;
                            font-size: 15px;
                            }
                            }
                .icon-header{
                    margin-top:$margin/-6;
                }
                    .search-icon-header{
                    margin-right:$margin/15;
                    font-size: 15px;
                    padding:$padding/4;
                    color:$color-white;
                    box-shadow:0px 0px 2px;
                    }              
                    .bag-icon-header{
                        font-size:$font-size/6;
                        padding:$padding/4;
                        margin-right:$margin/2;
                        color:$color-white;
                        box-shadow:0px 0px 2px;
                    }
 .logo-header img{
    max-height:120px;
    max-width:100%;
    margin:0px $margin/2;
    padding:$padding/4;
    margin-top:-10px;
 }
 .line{
     top:790px;
     left:150px;
     width:$width;
     height:$height/120;
     margin:0px auto;
     background:$color-red;
    }
 .letter h1,h5{
     @extend .width-100;
     color:$color-white;
     @extend .height-100;
     margin:0px;
     font-weight: 50px;
 }
.letter{
     top:320px;
     left:500px;
     font-size:$font-size/4;
     @extend .transition
    }
    .box{
        z-index:-1;
        top:64px;
        left:378px;
        width: 223px;
        height:$height/60;
        padding:$padding/30;
        background-color:$color-darkred;
    }
        .letter h1{
            font-size:$font-size;
            font: weight 800;
        }
        .letter p {
            color:rgba(211, 211, 211, 0.897);
            @extend .width-100;
            @extend .height-100;
            font-weight:400px;
            margin:$margin/6 0px;
            padding:$padding/6 $padding/-6;
            font-family:cursive;}
        .tags{
            width: 18%;
            background: none;
            position: relative;
            padding: 6px;
            top:30px;
            left:0px;
            // border-bottom: 2px solid red;;
           }
            .tags h5{
            padding:$padding/3 0px;
            top:-35px;
            left:0px;
            font-weight: 100;
            a{
                color:$color-white;
                text-decoration:none;
            }
        }

        [class^="button"]{
          outline: none;
          }
.up-logo-header{
    top: 260px;
    left: 70px;
    display: inline-block;
    width: 265px;
    height: 360px;
    transition: all  1.5s ease;
    }
    .up-logo-header img{
        @extend .width-100;
        @extend .height-100;
    }
    .up-page{  
        left: 0px;
        top: 275px;
        height:85px;
        background-color: rgba($color:white, $alpha:0.8);
    }
    .sentence{
        height: 90px;
    }
    .sentence h4{
        color:black;
        text-align: center;
        font-family:Arial, Helvetica, sans-serif;
        }
        .button{
            background:$color-darkred;
            color:$color-white;
            width: 110px;
            @extend .height-100;
            cursor: pointer;
            border:none;
            font-size:20px;
            &:hover{
                background-color:$color-white;
                color:$color-darkred;}
        }
.right-buttons{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 570px;
    height:85px; }
    .right-buttons button{
        width: 85px;
        background:$color-white;
        font-size:20px;
        &:hover {
          background:$color-darkred;
          i{
          color:$color-white;
        }}
    }
    .right-buttons button i{
        color: black;}
.under-button {
    z-index:2;
    top:740px;
    padding-left: 15px;
    box-sizing: border-box;}
.under-button button {
    background:$color-white;
    width:$width/400;
    height:$height/240;
    margin:$margin/6;
}
.sub-menuHead{
    display:none;
    background:white;
    position:absolute;
    top:90px;
    height: 50px;
    left:53.80%;
    ul{
        margin-left: -30px;
    }
    ul li{
        margin: 8px;        }
    ul li a{
    color:red;
    z-index: 2;
    font-size: 15px !important;
    }
}